
<div class="cv-leftcol">
    <span>Profil</span>
    <span> de projet organisé, avec un focus particulier sur la qualité. 
    Résolutions de problèmes. Attentif et enthousiaste.
    Excellente qualité de gestion d’équipe et d’écoute.
    </span>

    <ul>>Compt&eacute;nces
    <li>Conduide de projets</li>
    <li>Plannification</li>
    <li>Management</li>
    <li>Developpement</li>
    <li>Réseau</li>
    <li>Methodologie</li>
    <li>Anglais</li>
    </ul>
     
    <ul>Cursus
    <li>2006 : universit&eacute; du Havre : Licence Pro Développement et Administration Internet et Intranet</li>
    <li>2004 - Université - Le Havre DUT Option génie informatique</li>
    </ul>
    <span>Loisir</span>
 

</div>



<div id="cv-rightcol" class="cv-rightcol">


       <div class="cv-header">
        <span class="me">Vincent Colombel</span>
        <br /> 
        <span class="me">Chef de projet</span> 
        <br />
            <table class="paralellogramme largep">
            <tr>
            <td>06 38 88 27 29</td>
            <td>4 rue de la scierie</td>
            </tr>
            <td>Vincent.colombel@gmail.com</td>
            <td>76560 Doudeville</td>
            </table>
        </div>

        <p class="rectangle"></p>
        <p class="paralellogramme">Expériences :</p>

        <ul>Expert technique (Econocom pour EDF Depuis 09/2016)
                <li>>Résolution problèmes complexes.</li>
                <li>>Diffusion d’information/fait marquant vers la proximité.</li>
                <li>>Recherche documentation et diffusion à la demande (plans/données/etc…).</li>
                <li>>Analyse de données/scénario et résolution.</li>
                <li>>Rédaction de documentation/Création de processus.</li>
                <li>>Développement applicatif sur l’automatisation de tâches.</li>
                <li>>Production de KPI à la demande.</li>
        </ul>

        <ul>Chef de projet Nord-Ouest (Econocom pour EDF 09/2013-09/2016)
                <li>Rénovation des équipements réseaux des centrales nucléaires.</li>
                <li>Sécurisation de moyen d’impression.</li>
                <li>Rénovation des architectures réseaux des sites.</li>
                <li>Déploiement de masse d'équipements informatiques.</li>
                <li>Rénovations de parc informatique obsolète dans les différents sites.</li>
                <li>Gestion d’équipe dédiée.</li>
        </ul>

        <ul>Gestionnaire informatique (Econocom pour EDF 08/2012-09/2013)
                <li>Préparation du matériel, configuration des ordinateurs.</li>
                <li>Gestion des demandes de travaux, d’incidents.</li>
                <li>Gestion des techniciens de maintenance.</li>
                <li>Dépannage à distance.</li>
                <li>Gestionnaire de stock/Gestion du parc.</li>
        </ul>

        <ul>Chef de projet (Atos Origin 04/2012-08/2012)
                <li>Gestion du planning.</li>
                <li>Gestion de l’équipe de techniciens.</li>
                <li>Gestion du déroulement du déploiement.</li>
        </ul>

        <ul>Tech leader (Atos Origin 02/2011-08/2011)
                <li>Gestion d’une équipe de techniciens.</li>
                <li>Préparation du déploiement.</li>
                <li>Suivi du bon déroulement du déploiement.</li>
        </ul>


        <ul>Déploiement/Planification (Atos Origin 02/2011-08/2011)
                <li>Création de 1500 Rendez-vous.</li>
                <li>Mise en place et suivi du planning.</li>
                <li>Gestion de l’équipe de techniciens.</li>
                <li>Assistance utilisateur et résolution d’incident.</li>
                <li>Formation utilisateur.</li>
        </ul> 


        <span>Autres Expériences</span>
        <ul>Technicien Helpdesk Niveau 2 (Osiatis 08/2011)</ul>
        <ul>Développeur (Ensuite informatique 10/2008–02/2010)</ul>
        <ul>Développeur (SOGET 10/2008 –02/2010)</ul>
        <ul>Développeur (Moneyline 05/2004 –04/2005)</ul>
</div>

