<div id="header_CV">

</div>

<div id= "Left_col">

</div>

<div id="Right_col">
<ul>Expert technique (Econocom pour EDF Depuis 09/2016)
  <li>Résolution problèmes complexes.</li>
  <li>Diffusion d’information/fait marquant vers la proximité.</li>
  <li>Recherche documentation et diffusion à la demande (plans/données/etc…).</li>
  <li>Analyse de données/scénario et résolution.</li>
  <li>Rédaction de documentation/Création de processus.</li>
  <li>Développement applicatif sur l’automatisation de tâches.</li>
  <li>Production de KPI à la demande.</li>

</ul>
    
</div>