.cv-leftcol {

    float: left;
    width: 30%;
    background-color: darkblue;
    position: relative;

}

.cv-rightcol {
    float: right;
    width: 70%;
    background-color: aquamarine;
    z-index: 1;
}

.cv-header{
height: 200px;
background-color:gray;
}
.me {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    align-content: center;
}

.paralellogramme {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 50px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    text-align: center;
    background: pink;
    -webkit-transform:    skewX(-20deg);
    transform:    skewX(-20deg);
    float: right;
  }

  .largep
  {
      width: 450px;
      height: 40px;
      float: right;
      position: relative;
      background-color: lightskyblue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
  }


  .rectangle{
	width:inherit;
	height:20px;
	background: black;
}

.fakeimg {
    height: 200px;
    background: #aaa;
}