<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Learn.MY</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="#">@Home</a>
        <a class="nav-item nav-link " href="#">@Admin</a>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-dark" id="dropdownMenu1" ngbDropdownToggle>En cours</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
              <button class="btn btn-dark dropdown-item">Action - 1</button>
              <button class="btn btn-dark dropdown-item">Action - 2</button>
            </div>
          </div>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/Ataraxya" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        <a class="nav-item nav-link" href="https://twitter.com/Maasthene" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" href="https://medium.com/@ataraxya" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
</nav>